click==6.7
docopt==0.6.2
Flask==0.12
Flask-SQLAlchemy==2.2
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
pipreqs==0.4.6
pysolr==3.6.0
requests==2.13.0
SQLAlchemy==1.1.6
watson-developer-cloud==0.25.1
Werkzeug==0.12.1
yarg==0.1.9
